/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }
  
  :root{
    --width-lg:80%;
    --width-md:85%;
    --width-sm:90%;}
  .topbackground{
    background-color:rgb(201, 83, 83);
    height: 90vh;
    border-bottom-left-radius: 3cm;
  }
  .logo h1{
    color: white;
  }
  .navbarr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbarr ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1cm;
  }
  
  .navbarr ul li {
    margin-right: 10px;
    color:white;
  }
  
  .aside {
    margin-left: 6cm;
    width: 4cm;
    display: flex;
    gap: 1cm;
  }
  
   */